@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Raleway:ital,wght@1,400;1,500;1,600&display=swap");
/*------------------------------- index starts ------------------------------*/
/*------------------------------- header starts ---------------------------------*/
.header {
  text-align: center; }

.header__img {
  width: 100%;
  display: none; }

.header__logo {
  width: 40%;
  margin: 1em 0 0 0; }

/*---------------------------------- header ends --------------------------------*/
.text500 {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  color: whitesmoke; }

/*-------------------------------- body starts ------------------------------------*/
.body {
  font-family: "Lora", serif;
  font-size: 1em;
  color: whitesmoke;
  overflow-x: hidden;
  background-attachment: fixed;
  background-image: url(../img/background/blackcolor.png); }

.txt__white {
  color: whitesmoke; }

/*------------------------------------- body ends ----------------------------------*/
/*-------------------------------- single index starts -------------------------------*/
.article__single {
  text-align: center; }
  .article__single .single__article--img {
    width: 60%;
    padding: 0 0 1em 0; }

.article__title {
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
  text-align: center;
  display: block; }

.article__single--text {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-align: center;
  text-decoration: none; }

/*-------------------------------- single index ends -------------------------------*/
/*------------------------------ news index starts -----------------------------------*/
.news__title {
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  padding: 1em; }

.article__news {
  padding: 0 0 0 2em; }
  .article__news .text__news {
    font-family: "Lora", serif;
    font-size: 1em;
    padding: 0 1em 0 0.5em;
    line-height: 1.3em;
    word-spacing: 0.1em; }
    .article__news .text__news .border__bottom {
      border-bottom: 1px solid gray;
      padding: 1em; }

.text__small {
  font-size: 0.8em; }

/*----------------------------------- news index ends ------------------------------*/
/*-------------------------------- live index starts ---------------------------------*/
.section__live {
  text-align: center; }
  .section__live .live__title {
    font-family: "Raleway", sans-serif;
    font-size: 1.9em;
    padding: 0.5em;
    margin: 1em 0;
    box-shadow: 2px 2px 5px white; }
  .section__live .live__img {
    width: 55%;
    box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
    -moz-box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57); }
  .section__live .live__text {
    font-family: "Lora", serif;
    font-size: 1em;
    word-spacing: 0.2em;
    line-height: 1.5em;
    padding: 1em;
    margin: 1em 0; }

/*.grid__live--video{display: none;
    width: 100%;}*/
/*------------------------------ live index ends ----------------------------------*/
/*----------------------------------- footer starts ---------------------------------*/
.slider__div--img {
  height: 5em; }

.footer__btn {
  text-align: center;
  padding: 1em; }

.footer__btn--size {
  width: 3rem; }

/*-------------------- Aquí he aplicado nesting*/
.redes__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 4em;
  margin: 0 2em;
  background-color: #0f0d0d;
  box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
  -moz-box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
  box-sizing: border-box;
  border-radius: 8px; }
  .redes__box .footer__title {
    font-family: "Raleway", sans-serif;
    font-size: 1.4em;
    color: whitesmoke; }
  .redes__box .redes__link {
    display: flex;
    list-style: none; }
    .redes__box .redes__link .redes__logo {
      width: 2em;
      margin-right: 13px; }
      .redes__box .redes__link .redes__logo:hover {
        transform: scale(1.5);
        cursor: pointer;
        transition: 0.5s; }

/*------------------- Aquí he aplicado nesting*/
.copy {
  width: 1rem; }

/*------------------------------------ footer ends ---------------------------------*/
/*----------------------------- Index ends ----------------------------------*/
/*------------------------------ Biografia starts ---------------------------*/
.title {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.9em;
  text-align: center;
  display: block;
  padding: 1em; }

.section__title {
  font-weight: 400;
  font-size: 1.9em;
  text-align: center;
  display: block;
  padding: 1em; }

.bio__img {
  width: 100%; }

.biografia__article {
  border-radius: 5px;
  background-color: #0f0d0d;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
  -moz-box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57); }
  .biografia__article .text__biografia {
    font-size: 0.8em;
    line-height: 1.3em;
    word-spacing: 0.5em;
    padding: 1em 2em; }

/*-------------------------------- biografia ends --------------------------*/
/*------------------------------ discografia starts -------------------------*/
.discografia {
  text-align: center; }

.box {
  text-align: center;
  font-size: 1.2em;
  border-radius: 10px;
  background-color: #0f0d0d;
  box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
  -moz-box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
  padding: 20px 20px 10px 20px;
  margin: 10px; }

.discografia__img {
  width: 15em; }

.discografia__video {
  padding: 1em 2em;
  text-align: center; }

.discografia__video--size {
  width: 20em; }

/*------------------------ discografia ends ------------------------------*/
/*------------------------- merch starts -------------------------------------*/
.box__merch {
  text-align: center;
  font-size: 1.2em;
  background-color: #0f0d0d;
  box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
  -webkit-box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
  -moz-box-shadow: 0px 0px 16px 0px rgba(128, 128, 128, 0.57);
  border-radius: 15px;
  padding: 1em;
  margin: 4em; }

.merch__img {
  width: 10em; }

/* ---------------------------- merch ends -----------------------------------*/
/*--------------------------- contact starts -------------------------------*/
.form__title {
  font-weight: 500;
  font-size: 1.4em;
  margin: 0 1em;
  padding: 2em 0;
  display: block; }

.input__btn {
  color: #0f0d0d;
  margin: 10px;
  width: 100px;
  border-radius: 2px;
  border: 0;
  background: linear-gradient(to top, #c7c7c7, gray); }

.contact__form {
  margin: 1em;
  padding: 1em; }

.contact__form--content {
  padding: 1em;
  line-height: 1.5em; }

.form__subtitle {
  font-size: 1.2em;
  line-height: 1.9em;
  color: #f7dcae; }

/*----------------------------- contact ends --------------------------------*/
/*------------------------------------- index's grids starts ------------------------------*/
.grid__nav {
  /*background-color: aqua;*/
  grid-area: nav; }

.grid__header {
  /*background-color: blue;*/
  grid-area: header; }

.grid__info {
  /*background-color: blueviolet;*/
  grid-area: info; }

.grid__live {
  /*background-color: brown;*/
  grid-area: live; }

.grid__footer {
  /*background-color: burlywood;*/
  grid-area: footer; }

.grid__single {
  /*background-color: yellow;*/
  grid-area: single;
  display: none; }

.grid__news {
  /*background-color: yellowgreen;*/
  grid-area: news; }

.grid {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-areas: "nav" "header" "live" "info" "footer";
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; }

/*------------------------------------- index's grids ends ------------------------------*/
/*-------------- modificaciones para pantallas mayor a 768 --------------------*/
@media screen and (min-width: 768px) {
  .grid {
    grid-template-areas: "nav" "header" "live" "info" "footer"; }
  .grid__single {
    display: grid; }
  .grid__info {
    display: grid;
    grid-template-areas: "news single";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto; }
  .header__logo {
    width: 30%; }
  .section__live .live__title {
    font-size: 1.9em;
    margin: 1em 1em;
    margin: 1em 0; }
  .section__live .live__text {
    font-size: 1em;
    padding: 0.8em 1.1em;
    margin: 1em 0; }
  .section__live .live__img {
    width: 50%; }
  .header__logo {
    margin: 0;
    padding: 2em 0 0 0; }
  .article__single {
    margin-bottom: 5em; } }

/*--------------- modificaciones para pantallas mayor a 1024 ----------------*/
@media screen and (min-width: 1024px) {
  .grid {
    grid-template-areas: "nav" "header" "info" "live" "footer";
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr; }
  .header__img {
    display: grid; }
  .nav {
    top: 0;
    position: sticky; }
  .nav__logo {
    width: 80%;
    padding-left: 2em; }
  .nav__botones {
    margin-right: 1em; }
  .hover:hover {
    font-size: 400;
    color: slategray; }
  .text500 {
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    text-decoration: none; }
  .header__logo {
    width: 17%;
    margin: 0 0 2em 0; }
  .grid__info {
    margin: 2em 0 2em 1em; }
  .live__title {
    color: whitesmoke;
    font-size: 2.3em;
    padding: 0.4em;
    margin: 0.5em 0;
    box-shadow: 2px 2px 5px white; }
  .live__img {
    width: 50%;
    margin-bottom: 2em; }
  /*.grid__live--video{display: grid;}*/
  .live__box {
    padding: 1em; }
  .live__text {
    border-radius: 5px;
    font-size: 1em;
    padding: 1em;
    margin: 1em 3em;
    box-shadow: 2px 2px 5px #b3b3b3; }
  .slider__div--img {
    height: 7.7em; }
  .article__single {
    margin-bottom: auto; } }

@media screen and (min-width: 2560px) {
  .text__small {
    font-size: 0.8em; }
  .text__news {
    font-size: 1.4em;
    padding: 0 1em 0 1em;
    line-height: 1.3em;
    word-spacing: 0.1em; }
  .article__title {
    font-weight: 500;
    font-size: 1.9em;
    text-align: center;
    display: block; }
  .text500 {
    font-weight: 500;
    font-size: 1.4em;
    text-decoration: none; }
  .live__text {
    border-radius: 5px;
    font-size: 1.4em;
    padding: 0.5em;
    margin: 1em 3em;
    box-shadow: 2px 2px 5px #b3b3b3; }
  .live__title {
    font-size: 2.3em;
    padding: 0.4em;
    margin: 0.5em 0;
    box-shadow: 2px 2px 5px white; } }

/*------------------------- media query ends --------------------------------*/
/*------------------------- biografia's grids starts ------------------------*/
.grid__biografia {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-areas: "nav" "header" "bio" "footer";
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 2fr 1fr; }

.grid__bio {
  /*background-color: blue;*/
  grid-area: bio; }

/*------------------------- biografia's grids ends --------------------------*/
/*--------------------------- media query starts ----------------------------*/
/*--------------- modificaciones para pantallas mayor a 1024 ----------------*/
@media screen and (min-width: 1024px) {
  .grid__biografia {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas: "nav" "header" "bio" "footer";
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    text-align: center; }
  .bio__img {
    width: 80%; }
  .biografia__article .text__biografia {
    font-size: 1em;
    line-height: 1.3em;
    word-spacing: 0.5em;
    padding: 1em 2em;
    text-align: left; }
  .slider__div--img {
    height: 7.7em; } }

@media screen and (min-width: 2560px) {
  .section__title {
    font-weight: 400;
    font-size: 2.3em;
    text-align: center;
    display: block;
    padding: 1em; }
  .text__biografia {
    font-size: 1.4em;
    line-height: 1.2em;
    word-spacing: 0.3em;
    padding: 1em 2em;
    text-align: left; } }

/*------------------- media query ends --------------------------------------*/
/*------------------ discografia's grids starts -----------------------------*/
.grid__discografia {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-areas: "nav" "header" "discos" "video" "footer";
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 2fr 1fr 1fr; }

.grid__discos {
  /*background-color: tomato;*/
  grid-area: discos; }

.grid__video {
  /*background-color: darkslateblue;*/
  grid-area: video; }

/*----------------------- discografia's grids ends ---------------------------*/
/*--------------------------- media query starts --------------------------*/
/*-------------- modificaciones para pantallas mayor a 768 -------------------*/
@media screen and (min-width: 768px) {
  .grid__discos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .discografia__img {
    width: 15em; }
  .discografia__video--size {
    width: 28em; } }

/*---------------- modificaciones para pantallas mayor a 1024 --------------*/
@media screen and (min-width: 1024px) {
  .grid__discografia {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas: "nav" "header" "discos" "video" "footer";
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr; }
  .box {
    margin: 1em; }
  .discografia__video--size {
    width: 45em; }
  .slider__div--img {
    height: 7.7em; } }

/*---------------- modificaciones para pantallas mayor a 2560 --------------*/
@media screen and (min-width: 2560px) {
  .box {
    margin: 3em; }
  .discografia__img {
    width: 19em; } }

/*---------------------- media query ends ---------------------------------*/
/*---------------------- merch's grids starts ------------------------------*/
.grid__merchandising {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-areas: "nav" "header" "merch" "footer";
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 2fr 1fr; }

.grid__merch {
  /*background-color: tomato;*/
  grid-area: merch; }

/*------------------------- merch's grids ends --------------------------*/
/*--------------------------- media query -----------------------------------*/
/*------------------- modificaciones para pantallas mayor a 768 -------------*/
@media screen and (min-width: 768px) {
  .grid__merch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  .merch__img {
    width: 15em; }
  .box__merch {
    margin: 1em; } }

/*------------- modificaciones para pantallas mayor a 1024 -----------------*/
@media screen and (min-width: 1024px) {
  .grid__merchandising {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas: 'nav' "header" "merch" "footer";
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 2fr 1fr; }
  .box__merch {
    margin: 1em; }
  .slider__div--img {
    height: 7.7em; } }

/*-------------------------- media query ends -------------------------------*/
/*-------------------------- contact's grids starts ---------------------*/
.grid__contacto {
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-areas: "nav" "header" "form" "map" "footer";
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 2fr 1fr 1fr; }

.grid__form {
  /*background-color: tomato;*/
  grid-area: form;
  margin: 0 3em 2em 3em;
  text-align: center; }

.grid__map {
  /*background-color: darkslateblue;*/
  grid-area: map;
  text-align: center; }

/*------------------------- contact's grids ends --------------------------*/
/*---------------------------- media query -------------------------------*/
/*--------------- modificaciones para pantallas mayor a 1024 ----------------*/
@media screen and (min-width: 1024px) {
  .grid__contacto {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas: "nav nav" "header header" "form map" "form map" "footer footer";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr; }
  .grid__map {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 9em 0 0 0; }
  .slider__div--img {
    height: 7.7em; } }

/*--------------- modificaciones para pantallas mayor a 2560 ----------------*/
@media screen and (min-width: 2560px) {
  .form__subtitle {
    font-size: 2.3em;
    line-height: 1.9em; }
  .map {
    width: 50em;
    height: 25em; } }

/*--------------------------- media query ends -----------------------------*/
/*------------------------------- animaciones ---------------------------------------*/
.live__text--gradient {
  background: #060617;
  background: linear-gradient(148deg, #060617 2%, #494986 95%); }

.live__title--gradient {
  background: #9e4d00;
  background: radial-gradient(circle, #9e4d00 0%, #5d2d00 100%); }

.scale:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.5s; }

@keyframes slide {
  from {
    left: -200px; }
  to {
    left: 0; } }

.slide {
  position: relative;
  animation: slide 0.5s 1; }

.underline {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size .3s; }

.underline:hover {
  background-size: 100% 1px;
  padding: 1px; }

/*--------------- footer carousel ----------------*/
.slider {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden; }

.slider .slide__track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(1500px * 6); }

.slider .slider__div {
  width: 100vw; }

.slider__div--img {
  width: 100%;
  margin: 1em 0; }

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(calc(-200px * 3));
    transform: translateX(calc(-200px * 3)); } }

/*--------------- footer carousel ----------------*/
