/*------------------------------- animaciones ---------------------------------------*/
.live__text--gradient{
    background: rgb(6,6,23);
    background: map-get($map: $colors, $key: 'cuatro')}
    

.live__title--gradient{
    background: rgb(158,77,0);
    background: map-get($map: $colors, $key: 'tres');}


.scale:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.5s;
}
@keyframes slide {
    from {left: -200px;}
    to {left: 0;}
    }
.slide{position: relative;
    animation: slide 0.5s 1;}

.underline{
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;}

.underline:hover{
    background-size: 100% 1px;
    padding: 1px;
}

/*--------------- footer carousel ----------------*/
.slider{
    width: 100vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}
.slider .slide__track{display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(1500px * 6);
}
.slider .slider__div{
    width: 100vw; 
}
.slider__div--img{
    width: 100%;
    margin: 1em 0;
}
@keyframes scroll {
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100%{ 
        -webkit-transform: translateX(calc(-200px * 3));
        transform: translateX(calc(-200px * 3));
    }
}   

/*--------------- footer carousel ----------------*/