
/*------------------------------- index starts ------------------------------*/
/*------------------------------- header starts ---------------------------------*/

.header {
  text-align: center;
}

.header__img {
  width: 100%;
  display: none;
}

.header__logo {
  width: 40%;
  margin: 1em 0 0 0;
}

/*---------------------------------- header ends --------------------------------*/

.text500 {
  font-family: $font2;
  font-size: $fontM;
  text-decoration: none;
  color: $font-color;
}

/*-------------------------------- body starts ------------------------------------*/

.body {
  font-family: $font1;
  font-size: $fontSm;
  color: $font-color;
  overflow-x: hidden;
  background-attachment: fixed;
  background-image: url(../img/background/blackcolor.png);
}

.txt__white {
  color: $font-color;
}

/*------------------------------------- body ends ----------------------------------*/

/*-------------------------------- single index starts -------------------------------*/

.article__single {
  text-align: center;
  .single__article--img {
    width: 60%;
    padding: 0 0 1em 0;
  }
}

.article__title {
  font-family: $font2;
  font-size: $fontL;
  text-align: center;
  display: block;
}


.article__single--text {
  font-family: $font2;
  font-size: $fontSm;
  text-align: center;
  text-decoration: none;
}

/*-------------------------------- single index ends -------------------------------*/

/*------------------------------ news index starts -----------------------------------*/

.news__title {
  font-family: $font2;
  font-size: $fontM;
  padding: 1em;
}

.article__news {
  padding: 0 0 0 2em;
  .text__news {
    font-family: $font1;
    font-size: $fontSm;
    padding: 0 1em 0 0.5em;
    line-height: 1.3em;
    word-spacing: 0.1em;
    .border__bottom {
      border-bottom: 1px solid gray;
      padding: 1em;
    }
  }
}

.text__small {
  font-size: $fontXs;
}

/*----------------------------------- news index ends ------------------------------*/

/*-------------------------------- live index starts ---------------------------------*/

.section__live {
  text-align: center;
  .live__title {font-family: $font2;
    font-size: $fontXL;
    padding: 0.5em;
    margin: 1em 0;
    box-shadow: 2px 2px 5px map-get($map: $colors, $key: 'uno');
  }
  .live__img {
    width: 55%;
    @include shadow;
  }
  .live__text {
    font-family: $font1;
    font-size: $fontSm;
    word-spacing: 0.2em;
    line-height: 1.5em;
    padding: 1em;
    margin: 1em 0;
  }
}


/*------------------------------ live index ends ----------------------------------*/

/*----------------------------------- footer starts ---------------------------------*/

.slider__div--img {
  height: 5em;
}
.footer__btn {
  text-align: center;
  padding: 1em;
}
.footer__btn--size {
  width: 3rem;
}

/*-------------------- Aquí he aplicado nesting*/
.redes__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
  margin: 0 2em;
  background-color: $box-color;
  @include shadow;
  box-sizing: border-box;
  border-radius: 8px;

  .footer__title {font-family: $font2;
    font-size: $fontL;
    color: $font-color;
    margin-left: 1em;
}
  .redes__link{
    display: flex;
    list-style: none;
    
    .redes__logo {
      width: 2em;
      margin-right: 1.5em;
      margin-top: 0.8em;
      &:hover{
        transform: scale(1.5);
        cursor: pointer;
        transition: 0.5s;
      }
    }
  }
}
/*------------------- Aquí he aplicado nesting*/

.copy {
  width: 1rem;
}

/*------------------------------------ footer ends ---------------------------------*/


/*----------------------------- Index ends ----------------------------------*/


/*------------------------------ Biografia starts ---------------------------*/


.title {
  font-family: $font2;
  font-weight: 500;
  font-size: $fontXL;
  text-align: center;
  display: block;
  padding: 1em;
}

.section__title {
  font-weight: 400;
  font-size: $fontXL;
  text-align: center;
  display: block;
  padding: 1em;
}

.bio__img {
  width: 100%;
}

.biografia__article {
  border-radius: 5px;
  background-color: $box-color;
  box-sizing: border-box;
  border-radius: 5px;
  @include shadow;
  .text__biografia {
    font-size: $fontXs;
    line-height: 1.3em;
    word-spacing: 0.5em;
    padding: 1em 2em;
  }
}


/*-------------------------------- biografia ends --------------------------*/

/*------------------------------ discografia starts -------------------------*/

.discografia {
  text-align: center;
}

.box {display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: $fontM;
  border-radius: 10px;
  background-color: $box-color;
  @include shadow;
  padding: 20px 20px 10px 20px;
  margin: 1em;
  .discografia__img {
    width: 12em;
  }
}



.discografia__video {
  text-align: center;
  padding: 1em;
  .discografia__video--size {
    width: 100%;
  }
}


/*------------------------ discografia ends ------------------------------*/

/*------------------------- merch starts -------------------------------------*/

.box__merch {
  text-align: center;
  font-size: $fontM;
  background-color: $box-color;
  border-radius: 15px;
  padding: 1em;
  margin: 2em;
  @include shadow;
  .merch__img {
    width: 10em;
  }
}





/* ---------------------------- merch ends -----------------------------------*/

/*--------------------------- contact starts -------------------------------*/

.form__title {
  font-weight: 500;
  font-size: $fontL;
  text-align: center;
  margin: 0 1em;
  padding: 2em 0;
  display: block;}
  
.contact__form {
  margin: 1em 0;
  .contact__form--content {
    padding: 1em;
    line-height: 1.5em;
    .form__subtitle {
      font-size: $fontM;
      line-height: 2em;
      color: map-get($map: $colors, $key: 'cinco');
    }
    .form__input-text{
      margin: 1em 0;
      width: 16em;
      height: 2.5em;
    }
    .form__input-radio{
      margin: 1em 1em;
    }
    
    .input__btn {
      color: $box-color;
      margin: 1em 1em;
      width: 15em;
      height: 2em;
      border-radius: 2px;
      border: 0;
      background: linear-gradient(to top, rgb(199, 199, 199), rgb(128, 128, 128));
    }
  }
}


/*----------------------------- extend -----------------------------------*/
.input__btn--send{
  @extend .input__btn;
  width: 8em;
  height: 2.5em;
  background: linear-gradient(to bottom, rgb(201, 201, 201), rgb(20, 20, 20));
  color: $font-color;
  &:hover {
    background: map-get($map: $colors, $key: 'cinco');
    cursor: pointer;
  }
}
/*----------------------------- extend -----------------------------------*/


.map {
  width: 17em;
  height: 15em;
}



/*----------------------------- contact ends --------------------------------*/



/*---------------------------4040404040404040404040404----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {font-family: 'Edu VIC WA NT Beginner', cursive;
background: rgb(26, 26, 26);
width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

}

.container{
    display: grid;
    padding: 5em;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 35em;
    height: 100%;
    max-height: 25em;
    background-color: deeppink;
    border: blueviolet;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 0px rgba(153, 0, 255, 0.57);

}
.container-title{
    font-size: 3em;
    }

.container-p{
    font-size: 1.8em;}

.container-btn{
    color: aqua;
    background-color: blueviolet;
    font-size: 1.5em;
    text-decoration: none;
    font-style: italic;}


/*---------------------4040404040404040404040404----------------------------*/