@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Raleway:ital,wght@1,400;1,500;1,600&display=swap');
$font1:'Lora', serif;
$font2:'Raleway', sans-serif;
$fontXs:0.8em;
$fontSm: 1em;
$fontM:1.2em;
$fontL:1.4em;
$fontXL:1.9em;
$fontXXL:2.3em;
$font-color: rgb(245, 245, 245);

//vars

$box-color: rgb(15, 13, 13);